/*
Copyright 2012 Josh "Cheeseness" Bush

This file is part of Para CMS.

Para CMS is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Para CMS is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Para CMS. If not, see <http://www.gnu.org/licenses/>.
*/

body { font-family: Arial,Helvetica,sans-serif; background-image: url(../images/background.png); background-repeat: repeat-x; background-color: #000000; color: #b8b8b8; line-height: 1.5em; width: 1000px; margin-left: auto; margin-right: auto; text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25); text-align: justify; }
#wrapper {background-color: #222222; border-radius: 10px 10px 10px 10px; border: 1px solid #555555; padding: 0.25em; margin: 2em 0; box-shadow: 0px 0px 10px #000000;  background-image: url(../images/logo.png); background-repeat: no-repeat; background-position: top right; }
hgroup { margin: 0.5em; }
hgroup h1 { font-weight: normal; font-size: 3em; }
hgroup a, #navPrimary a { color: #CCCCCC; }
hgroup a:hover, #navPrimary a:hover { color: #ececec; text-decoration: none;}
#navPrimary { border-bottom: 1px solid #555555; box-shadow: 0px 1px 0px #000000; margin: 0.5em; }
#navPrimary ul { list-style-type: none; margin: 0; padding: 0; font-weight: bold; font-size: small; line-height: 2em; }
#navPrimary li ul { display: none; position: absolute; z-index: 1;}
#navPrimary li:hover > ul { display: block; }
#navPrimary > ul > li { display: inline-block; }
#navPrimary > ul > li > a { border-radius: 5px 5px 0 0; border-bottom: none; box-shadow: 0px -2px 3px #000000; }
#navPrimary > ul > li > a:hover { border-radius: 5px 5px 0 0; border-bottom: none; box-shadow: 0px -2px 3px #000000, inset 0 30px 25px -10px #aaaaaa; }
#navPrimary > ul > li > ul a { width: 100%; }
#navPrimary > ul > li > ul > li ul {left: 100%; }
#navPrimary a { display: inline-block; background-color: #000000; margin: 0; padding: 0.25em 1em; border: 1px solid #555555; }
#navPrimary a:hover,#navPrimary li:hover > a, #navPrimary .current > a { background-color: #787878; box-shadow: inset 0 30px 25px -10px #aaaaaa; }
#navContents { font-size: 1em; float: right; width: 220px; margin: 0 6px 1em 0; background-color: #000000; border: 1px solid #555555; border-radius: 5px 5px 5px 5px; padding: 0 1em; z-index: 0; box-shadow: 0px 3px 3px #000000, inset 0 -75px 75px -100px #aaaaaa;}
#navContents h2 { margin: 0.5em 0 0 0; font-weight: normal; color: #ffffff; }
#navContents ol { list-style-type: none; margin: 0 0 1em 0; padding: 0; }
#navContents li { margin: 0; padding: 0; font-size: 0.75em; }
a { color: #787878; text-decoration: none; }
a:hover { color: #979797; text-decoration: underline;}
article { background-color: #000000; border: 1px solid #555555; border-radius: 5px 5px 5px 5px; margin: 0 0.5em 1em 0.5em; padding: 0 1em; z-index: 0; box-shadow: 0px 3px 3px #000000, inset 0 -75px 75px -100px #aaaaaa; }
article p, article ul, article ol { font-size: 0.9em; }
article h1, article h2, article h3, article h4 { color: #ffffff; border-bottom: 1px dotted #555555; font-weight: normal; }
article h1 { font-size: 1.5em; }
article h2 { font-size: 1.25em; }
article h3 { font-size: 1em; font-weight: bold; }
article h4 { font-size: 1em; font-weight: bold; margin-left: 1em; }
#content {float: left; position: relative; width: 725px; min-width: 725px; }
#twitterWidget {float: left; margin: 0 0 1em 6px; position: relative; z-index: 0; }
.modifiedDate { font-size: small; text-align: right; font-style: italic; }
.downloadSourceLink {font-size: small; text-align: right; margin: 0; padding: 0; position: relative; margin-top: -3em;}
footer {clear: both; text-align: center; border-top: 1px solid #555555; margin: 0.5em; font-size: small; box-shadow: 0px -1px 0px #000000;}

/*Twitter widget stuff*/
.twtr-doc { border: 1px solid #555555;  box-shadow: 0px 3px 3px #000000, inset 0 -75px 75px -100px #aaaaaa; }
.twtr-ft { border-top: 1px solid #555555; }
.twtr-hd { border-bottom: 1px solid #555555; }
.twtr-tweets { margin: 0 0.5em; }
